
.App {
  text-align: center;
}

.menu-container{
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgb(134, 229, 147);
  color: black;
  font-weight: bold;
}




.menu-container div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul{
  list-style-type: none;
  text-align: center;
}

li{
  width: 100%;
  padding: 10px;
  border: 2px solid black
}

.display-menu{
  display: block;
  position: fixed;
  right: 90%;
  left: 0;
  top: 61%;
  bottom: 0;
  margin: auto;
  height: 300px;
  width: 220px;;
  border-radius: 5px;
 text-align: center;
  
  
}

 